<footer class="container-fluid bh-absolute-bottom extra-push">
    <div class="row ">
            <div class="col col-md-4">&#169; 2018 alle rechten voorbehouden | Jakkedoe vzw <br>
    In samenwerking met Silvio Samyn en Arteveldehogeschool <br>
    Academiejaar 2017 - 2018
            </div>
            <div class="col-md-1">
                <img src="{{ '/assets/images/logo-jakkedoe-footer.png' | relative_url }}" class="img-fluid img-width-footer">
            </div>
            <div class="col-md-1">
                <img src="{{ '/assets/images/logo-artevelde-footer.png' | relative_url }}" class="img-fluid img-width-footer-2">
            </div>
        </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>