
.client-style {
  font-family: $clientfont-family-base;
  $color: $clientcolor-1;
  border-bottom: 1px solid $color-grey-2;
  border-top: 1px solid $color-grey-2;
  margin: 1em 0 2em;

  h1 {
    font-family: $clientfont-family-title;
  }

  h2, h3, h4, h5, h6 {
    font-family: $clientfont-family-base;    
  }

  a {
    color: $blauw;
    &:hover {}
    &:active {}
    &:focus{}
  }

  // …
}



.img-width {
    width: 30%;
}

.img-menu {
    width: 17%;
    position: fixed;
    left: 70px;
    bottom: 40px;
}


.more-left {
    margin-left: -350px;
    margin-top: -160px;
    height: 145%; 
}

.nowidth {
    width: 100%;
}