
.client-style {
  font-family: $clientfont-family-base;
  $color: $clientcolor-1;
  border-bottom: 1px solid $color-grey-2;
  border-top: 1px solid $color-grey-2;
  margin: 1em 0 2em;

  h1 {
    font-family: $clientfont-family-title;
  }

  h2, h3, h4, h5, h6 {
    font-family: $clientfont-family-base;    
  }

  a {
    color: $blauw;
    &:hover {}
    &:active {}
    &:focus{}
  }

  // …
}



.img-width {
    width: 30%;
}

.img-width-footer {
    width: 40px;
    margin-top: 5px;
    margin-left: 200px;
}

.img-width-footer-2 {
    
    margin-left: 160px;
}

.img-menu {
    width: 17%;
    position: fixed;
    left: 70px;
    bottom: 40px;
}


.more-left {
    margin-left: -250px;
    margin-top: -160px;
    height: 145%; 
}

.nowidth {
    width: 100%;
}

.caps {
    font-variant: small-caps;
    font-size: 20px;
    font-weight: 900;
    color: $blauw;
}

.margin {
    margin-left: 7px;
    margin-right: 9px;
}

.download {
    cursor: pointer;
}

.margin-top {
    margin-top: 54px;
}

.margin-top-2 {
    margin-top: 15px;
}

.margin-footer {
    margin-bottom: 80px;
}