/* Navigation
---------------------------------------------
*/

.bg-light { 
  background-color: #FFF !important;
}



.navbar a {
    border: none;
}
.navbar-expand-md .navbar-nav .nav-link{
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Bree Serif', sans-serif;
    color: $donkerpaars;
    font-size: 1.1rem;
}

.nav-link:hover {
  color: $blauw;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: $blauw;
}

.navbar-brand {
    padding: 0;
    margin-top: -26px;
    margin-right: 180px;
}

.navbar-brand #logo {
    width: 90px;
    padding-top: 0;
}

.bg-white {
    background-color: white;
}

/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: #FFF
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer .col {
    color: $donkerpaars;
    font-weight: 900;
    margin-left: 27.2rem;
    
}

.extra-push {
    
}

footer {
    background-color: transparent;
    color: $color-white;
    height: 100px;
    a {
        color: $color-white;
        &:hover {
            
        }
    }
}


/* TOC
-------------------------
*/

#toc li {
    line-height: 200%;
}


#toc li:hover {
    color: $blauw;
}



/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 35px; /* Place the button at the bottom of the page */
  right: 35px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
                     /* Set a background color */
  color: $blauw; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 70px;
  height: 70px;
  border-radius: 20px; /* Rounded corners */
  font-size: 26px; /* Increase font size */
  &:hover {
        color:$donkerpaars; 
  }
}